.dt-button {
  font-family: Lato;
  background: red;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  text-align: center;
}